<div class="dashboard-container">
  @if (isLoading) {
  <div class="loading">Loading statistics...</div>
  } @if (error) {
  <div class="error">
    {{ error }}
  </div>
  } @if (!isLoading && !error) {
  <div class="charts">
    <div class="chart-container">
      <canvas
        baseChart
        [data]="charts.status.data"
        [options]="charts.status.options"
        [type]="charts.status.type"
      >
      </canvas>
    </div>
    <div class="chart-container">
      <canvas
        baseChart
        [data]="charts.priority.data"
        [options]="charts.priority.options"
        [type]="charts.priority.type"
      >
      </canvas>
    </div>
  </div>
  }
</div>
