<div class="user-management-container">
  <h2>User Management</h2>
  <main>
    <div class="action-buttons">
      <button mat-flat-button (click)="openCreateUserDialog()">Add User</button>
      @if (selectedUser) {
      <button
        mat-stroked-button
        (click)="openUpdateUserDialog()"
      >
        Update User
      </button>

      }
    </div>
    <app-generic-table
      [data]="users()"
      [columns]="columns"
      [pageSize]="10"
      (rowClick)="handleRowClick($event)"
    >
    </app-generic-table>
  </main>
</div>
